.showcase-title {
    background-color: #178CA4;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    width: 25%;
    text-align: center;
    position: relative;
    z-index: 100;
}

.overlay {
    position: absolute;
    background-color: #178CA4;
    opacity: 0.5;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}